.event-container {
    padding: 7rem 6rem 2rem 6rem;
}
.event-container .event-details {
    padding-top:2.5rem;
    width: 80%;
    text-align: justify;
}
.event-container .event-details img {
    width: 50%!important;
    height:auto!important;
    min-width: 325px;
    border-radius: 4px;
}
.event-container .event-details {
    font-size: 1.125rem!important;
}
.event-container .event-details ul li {
    list-style:disc!important;
}

@media screen and (max-width:1200px) {
    .event-container .event-details {
        width: 90%;   
    }
}

@media screen and (max-width:790px) {
    .event-container {
        padding: 7rem 3rem 2rem 3rem;
    }
    .event-container .event-details {
        width: 95%;   
    }
}

@media screen and (max-width:790px) {
    .event-container {
        padding: 7rem 1.5rem 2rem 1.5rem;
    }
    .event-container .event-details {
        width: 98%;
        font-size: 1rem!important;
    }
}
@media screen and (max-width:590px) {
    .event-container .event-details .event-body ul {
        margin:0;
        padding:0 0 0 25px;
    }
}
@media screen and (max-width:450px) {
    .event-container {
        padding: 7rem 1rem 2rem 1rem;
    }
    .event-container .event-details {
        width: 99%;
        font-size: 0.9rem!important;
    }
}